body {
	background: linear-gradient(90deg, #71d6a8 18%, #ccf9e5 18%);
}

ul {
	text-align: left;
	color: white;
}

.page {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 30px;
}

/* Control the left side */
.summary {
  float: left;
  margin: 5px;
}

/* Control the right side */
.bulk {
  right: 0px;
}

.p1 {
	text-shadow: 1px 1px #000000;
	font-size: 20px;
	color: white;
	text-decoration: underline;
}

a:link {
	text-decoration: underline black;
	color: white;
}

a:visited { 
	text-decoration: underline red;
	color: darkgreen;
 }

 a:hover {
 	text-decoration: underline purple;
 	color: grey;
 }